<ion-header>
  <ion-toolbar>
    <ion-title>
      Agregar Evento
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formularioEventoSae">

        <ion-input type="number" formControlName="numero_ot" label="N° OT" label-placement="floating" fill="outline"
          placeholder=""></ion-input>

        <br>

        <ion-input type="text" formControlName="direccion" label="Dirección" label-placement="floating" fill="outline"
          placeholder=""></ion-input>

        <br>

        <ion-textarea label="Requerimiento:" formControlName="requerimiento" labelPlacement="floating" fill="outline"
          placeholder="Enter text"></ion-textarea>

        <br>

        <ion-select formControlName="tipo_evento" label="Tipo Evento" label-placement="floating" fill="outline">
          <ion-select-option *ngFor="let tipo_evento of listaTipoEventos" [value]="tipo_evento.codigo">{{
            tipo_evento.descripcion
            }}</ion-select-option>
        </ion-select>

        <br>

        <ion-button expand="full" color="primary" class="bottom-button"
          (click)="guardarEventoSae()">Guardar</ion-button>

      </form>
    </ion-card-content>
  </ion-card>
</ion-content>