<ion-item *ngIf="eventosae" [detail]="true" (click)="goToEnviarParametro(eventosae.id)">

<div slot="start" [class]="eventosae.estadoEnvio === 0 ? 'dot dot-active' : 'dot dot-unread'"></div>

<ion-label class="ion-text-wrap">
  <h2>
    {{ eventosae.numero_ot }}
    <span class="date">
      <ion-note class="small-font" >{{ formatearFecha(eventosae.fecha_hora_ejecucion) }}</ion-note>
      <ion-icon
        aria-hidden="true"
        name="chevron-forward"
        size="small"
        *ngIf="isIos()"
      ></ion-icon>
    </span>
  </h2>
  <!-- <h3>{{ eventosae.direccion }}</h3> -->
  <p>
    {{ eventosae.requerimiento }}
  </p>
</ion-label>

</ion-item>