<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" (click)="goToPaginaPrincipal()"></ion-back-button>
    </ion-buttons>
    Envio de Evento
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="eventosae">
  <ion-card>
    <ion-card-content>
      <ion-item>

        <div slot="start" [class]="eventosae.estadoEnvio === 0 ? 'dot dot-active' : 'dot dot-unread'"></div>

        <ion-label class="ion-text-wrap">
          <h2>

            {{ eventosae.numero_ot }}

            <span class="date">
              <ion-note class="small-font">{{ formatearFecha(eventosae.fecha_hora_ejecucion) }}</ion-note>
              <ion-icon aria-hidden="true" name="chevron-forward" size="small" *ngIf="isIos()">
              </ion-icon>
            </span>

          </h2>
        </ion-label>
      </ion-item>

      <div class="ion-padding">

        <ion-input type="text" label="Tipo Evento" readonly="true" label-placement="floating" fill="solid"
          placeholder="" value="{{ tipo_evento }}"></ion-input>

        <br>

        <ion-input type="text" label="Comuna" readonly="true" label-placement="floating" fill="solid" placeholder=""
          value="{{ comuna }}"></ion-input>

        <br>

        <ion-input type="text" label="Dirección" readonly="true" label-placement="floating" fill="solid" placeholder=""
          value="{{ eventosae.direccion }}"></ion-input>

        <br>

        <ion-input type="text" label="Trabajo Solicitado" readonly="true" label-placement="floating" fill="solid"
          placeholder="" value="{{ eventosae.requerimiento }}"></ion-input>

        <br>

        <ion-input type="text" label="Hora Inicio" readonly="true" label-placement="floating" fill="solid"
          placeholder="" value="{{ eventosae.hora_inicio }}"></ion-input>

        <br>

        <ion-input type="text" label="Hora Término" readonly="true" label-placement="floating" fill="solid"
          placeholder="" value="{{ eventosae.hora_termino }}"></ion-input>


      </div>

      <br>

      <ion-button id="open-loading" expand="full" color="primary" class="bottom-button"
        [disabled]="eventosae.estadoEnvio !== 0" (click)="enviarEventoaMongoDb()">
        
        <ion-icon name="paper-plane-outline"></ion-icon> &nbsp; Enviar</ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>