<ion-header>
  <ion-toolbar>
    <ion-title>
      Finalizar Turno
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>

      <form [formGroup]="miFormulario">

        <ion-select formControlName="codigo_oficina" readonly="true" label="Oficina" [disabled]="true"
          label-placement="floating" fill="solid">
          <ion-select-option [disabled]="true" *ngFor="let oficina of listaOficinas" [value]="oficina.codigo">{{
            oficina.nombre
            }}</ion-select-option>
        </ion-select>

        <br>

        <ion-select formControlName="codigo_turno" label="Turno" label-placement="floating" fill="solid">
          <ion-select-option [disabled]="true" *ngFor="let turno of listaTurnos" [value]="turno.codigo">{{ turno.horario
            }}</ion-select-option>
        </ion-select>

        <br>

        <ion-select formControlName="patente_vehiculo" label="Vehiculo" label-placement="floating" fill="solid">
          <ion-select-option [disabled]="true" *ngFor="let vehiculo of listaVehiculos" [value]="vehiculo.patente">{{
            vehiculo.patente
            }}</ion-select-option>
        </ion-select>

        <br>

        <ion-select formControlName="rut_ayudante" label="Ayudante" label-placement="floating" fill="solid">
          <ion-select-option [disabled]="true" *ngFor="let ayudante of listaAyudantes"
            [value]="ayudante.rut_ayudante">{{
            ayudante.nombre
            }}</ion-select-option>
        </ion-select>

        <br>

        <ion-input type="text" readonly="true" formControlName="km_inicia" label="KM Inicial" label-placement="floating"
          fill="solid" placeholder=""></ion-input>

        <br>

        <ion-input type="number" required formControlName="km_final" label="KM Final" label-placement="floating" fill="outline"
          placeholder="Ingresar km final"></ion-input>

        <br>
 
        <ion-button id="guardarFinTurno" expand="full" color="primary" class="bottom-button" (click)="guardarFinTurno()">
          <ion-icon slot="start" name="save"></ion-icon>
          Guardar</ion-button>

        <br>

        <ion-button id="enviarTurnoaMongoDb" expand="full" color="primary" [disabled]="eventosEnviados.length > 0 || kmfinal.length === 0" class="bottom-button"
          (click)="enviarTurnoaMongoDb()">
          <ion-icon slot="start" name="send"></ion-icon>
          Enviar</ion-button>
 
        <p>* Es necesario enviar todos los eventos y tener el km final</p>

        <!-- <ion-item> -->
        <!-- <ion-label position="stacked">Id:</ion-label> -->
        <ion-input type="hidden" formControlName="id"></ion-input>
        <!-- </ion-item> -->

      </form>

    </ion-card-content>
  </ion-card>
</ion-content>





<!-- <ion-footer>
    <ion-toolbar>
      <ion-title> Pelom Ingenieria </ion-title>
    </ion-toolbar>
  </ion-footer> -->