<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio Turno SAE
    </ion-title>
  </ion-toolbar>
</ion-header>

  <!-- <ion-item>
    <ion-label position="stacked" >Selecciona un elemento:</ion-label>
    <ion-select [(ngModel)]="ItemSelect" aria-label="Selecciona un elemento:" >
      <ion-select-option *ngFor="let event of events" [value]="event.id">{{ event.name }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="showSelectedItem()">Mostrar Seleccionado</ion-button> -->

  <ion-content [fullscreen]="true" class="ion-padding" >
    <ion-card>

      <ion-card-content>
      
        <form [formGroup]="miFormulario">
          
          <ion-item>
            <ion-label position="stacked">Oficina Base:</ion-label>
            <ion-input type="text" formControlName="baseAsignada" aria-label="Base Asignada:" ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label position="stacked" >RUT Maestro:</ion-label>
            <ion-input type="text" formControlName="rutMaestro" aria-label="RUT Maestro"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="stacked" >RUT Ayudante:</ion-label>
            <ion-input type="text" formControlName="rutAyudante" aria-label="RUT Ayudante"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="stacked">KM Inicial:</ion-label>
            <ion-input type="number" formControlName="kmInicial" aria-label="KM Inicial"></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-label position="stacked">Patente Vehículo:</ion-label>
            <ion-input type="text" formControlName="patenteVehiculo" aria-label="Patente Vehículo"></ion-input>
          </ion-item>
      
          
          <hr/>
          <br>
           
          <ion-button expand="full" color="primary" class="bottom-button" (click)="guardarInicioTurno()">Guardar</ion-button>
     

          <!-- <ion-item> -->
            <!-- <ion-label position="stacked">Id:</ion-label> -->
            <ion-input type="hidden" formControlName="id" ></ion-input>
          <!-- </ion-item> -->

        </form>

      </ion-card-content>

    </ion-card>
  </ion-content>

  
  <!-- <ion-footer>
    <ion-toolbar>
      <ion-title> Pelom Ingenieria </ion-title>
    </ion-toolbar>
  </ion-footer> -->
